{% extends 'base_admin.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Tambah Nilai</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Pesanan</label>
                    <select name="pesanan" class="form-control" required>
                        {% for ps in pesanan_list %}
                        <option value="{{ ps.id }}">{{ ps }}</option>
                        {% endfor %}
                    </select>
                </div>

               {% for k in kriteria_list %}
<div class="mb-3">
    <label>{{ k.nama_kriteria }}</label>
    <select name="kriteria_{{ k.id }}" class="form-control" required>
        <option value="">-- Pilih Nilai --</option>
        <option value="1">1 - Sangat Rendah</option>
        <option value="2">2 - Rendah</option>
        <option value="3">3 - Sedang</option>
        <option value="4">4 - Tinggi</option>
        <option value="5">5 - Sangat Tinggi</option>
    </select>
</div>
{% endfor %}


                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="{% url 'list_nilai' %}" class="btn btn-secondary">Batal</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
